In [3]:
import pandas as pd 
import numpy as np
import os

### Clean Dataset

In [4]:
def delete_empty():
    # adjust path according to your system
    data_folder_path = r"...\Stock_Market_data\Stocks"
    files = os.listdir(data_folder_path) 
    for c in files:
        path = os.path.join(data_folder_path, c)
        try:
            df = pd.read_csv(path)    
        except:
            print(c)   
delete_empty()

### Loading all txt files in a single huge Dataframe (ABORTED DUE TO IMMENSE SIZE ! )

In [6]:
def load_all_data():
    big_df = pd.DataFrame()
    # adjust path according to your system
    data_folder_path = r"...\Stock_Market_data\Stocks"
    for txt in os.listdir(data_folder_path) :
        path = os.path.join(data_folder_path, txt)
        try:
            frame = pd.read_csv(path)
            name = txt.split('.')[0]
            frame.insert(0, 'Stock', name)
        except:
            print(f"Unable to load {txt}")
        big_df = big_df.append(frame)
    return big_df
    
#bigdf = load_all_data()
#bigdf

### Same but for a sample

In [23]:
def load_stocks(l=[]):
    big_df = pd.DataFrame()
    # adjust path according to your system
    data_folder_path = r"...\Stock_Market_data\Stocks"
    for txt in l :
        path = os.path.join(data_folder_path, txt)
        try:
            frame = pd.read_csv(path)
            name = txt.split('.')[0]
            frame.insert(0, 'Stock', name)
        except:
            print(f"Unable to load {txt}")
        big_df = big_df.append(frame)
    return big_df
big_df = load_stocks(['intc.us.txt', 'msft.us.txt'])

In [27]:
dates = big_df['Date']
dates = dates.sort_values(ignore_index=True)
ds = list(set(list(dates)))

str

In [31]:
dates = big_df['Date']

dates = dates.unique()
dates = np.sort(dates)
print(dates.shape[0])
dates

11556

array(['1972-01-07', '1972-01-14', '1972-01-21', ..., '2017-11-08',
       '2017-11-09', '2017-11-10'], dtype=object)

In [43]:
from datetime import date, timedelta
def daterange(start_date, end_date):
    for n in range(int((end_date - start_date).days)):
        yield start_date + timedelta(n)

start_date = date(2013, 1, 1)
end_date = date(2015, 6, 2)
dates = daterange(start_date, end_date)

### Analysis-Filtering

In [32]:
def cheap_stocks(cutoff):
    ''' Find stocks that begin with a value less than a cutoff value
    cutoff (int) : Maximum price of a stock '''
    
    # adjust path according to your system
    data_folder_path = r"...\Stock_Market_data\Stocks"
    files = os.listdir(data_folder_path) 
    cmps = []
    for c in files:
        path = os.path.join(data_folder_path, c)
        df = pd.read_csv(path)
        name = c.split('.')[0]
        df.insert(0, 'Stock', name)
        lows = df['Low']
        if min(lows) <= cutoff :
            cmps.append([name, min(lows)])
    return cmps

cheap = cheap_stocks(0.5)

In [34]:
print(len(cheap))
#cheap

539

In [11]:
def available_dates(big_df):
    dates = big_df['Date']
    dates = dates.sort_values(ignore_index=True)
    return dates

def growth_stocks(ratio_cutoff):
    ''' Finds stocks that provide the best growth potential, as a ratio of final_price/initial_price
    ratio_cutoff (float) : minmum growth ratio to filter on'''
    
    # adjust path according to your system
    data_folder_path = r"...\Stock_Market_data\Stocks"
    files = os.listdir(data_folder_path) 
    cmps = []
    
    for c in files:
        path = os.path.join(data_folder_path, c)
        df = pd.read_csv(path)
        name = c.split('.')[0]
        df.insert(0, 'Stock', name)
        init_price = df.loc[0]['Open']
        ipo_date = df.loc[0]['Date']
        final_price = df.loc[len(df)-1]['Open']
        growth_ratio = round(final_price/init_price,2)
        if ( growth_ratio > ratio_cutoff):
            cmps.append([name,growth_ratio, ipo_date] )

    return cmps

growth = growth_stocks(150)
print(len(growth))

C:\Users\Konpoul\AppData\Local\Temp/ipykernel_1656/4051864731.py:22: RuntimeWarning: divide by zero encountered in double_scalars
  growth_ratio = round(final_price/init_price,2)

44

In [12]:
# Sort the list of growth companys by growth ratio
growth.sort(key= lambda x : x[1], reverse=True)
growth

[['drh', inf, '2005-05-25'],
 ['hd', 6318.76, '1981-09-22'],
 ['mo', 2935.62, '1970-01-02'],
 ['intc', 2891.96, '1972-01-07'],
 ['wmt', 2651.78, '1972-03-20'],
 ['amgn', 1975.7, '1984-09-07'],
 ['msft', 1246.88, '1986-03-13'],
 ['brk-a', 949.24, '1980-03-17'],
 ['uve', 907.95, '2005-02-25'],
 ['adbe', 861.9, '1986-08-14'],
 ['unh', 809.39, '1990-03-26'],
 ['mcd', 587.2, '1970-01-02'],
 ['amzn', 571.62, '1997-05-16'],
 ['csco', 516.14, '1990-03-26'],
 ['gd', 482.47, '1977-01-03'],
 ['ben', 474.33, '1984-09-07'],
 ['twx', 444.91, '1992-03-19'],
 ['lmt', 420.01, '1977-01-03'],
 ['aapl', 413.11, '1984-09-07'],
 ['bby', 407.68, '1985-04-19'],
 ['utx', 362.54, '1970-01-02'],
 ['ba', 345.47, '1970-01-02'],
 ['kr', 325.05, '1977-01-03'],
 ['luv', 292.94, '1980-01-02'],
 ['esrx', 288.19, '1992-06-09'],
 ['orcl', 280.5, '1988-03-02'],
 ['adsk', 248.88, '1985-07-01'],
 ['amat', 238.39, '1984-09-07'],
 ['jnj', 229.57, '1970-01-02'],
 ['nke', 227.5, '1987-08-19'],
 ['afl', 220.26, '1984-07-19'],
 ['schw', 216.65, '1989-06-30'],
 ['aet', 208.82, '1977-01-03'],
 ['syk', 207.56, '1988-02-01'],
 ['dis', 201.75, '1970-01-02'],
 ['rost', 197.85, '1986-07-09'],
 ['ed', 194.57, '1970-01-02'],
 ['mdt', 192.86, '1981-12-31'],
 ['sbux', 191.04, '1992-06-26'],
 ['dhr', 188.89, '1987-11-05'],
 ['rok', 182.52, '1981-12-31'],
 ['tjx', 176.17, '1988-01-05'],
 ['mchp', 167.43, '1993-03-19'],
 ['cvx', 158.72, '1970-01-02']]

### Find the intersection of cheap and growth companies (these are good companies to begin investing on)

In [15]:
cheap_cmps = [cheap[i][0] for i in range(len(cheap))]
intersection = []
for i in range(len(growth)):
    cmp = growth[i][0]
    if (cmp in cheap_cmps): intersection.append(cmp)
len(intersection)

36

In [16]:
#intersection.sort()
intersection

['drh',
 'hd',
 'mo',
 'intc',
 'wmt',
 'amgn',
 'msft',
 'uve',
 'adbe',
 'unh',
 'mcd',
 'csco',
 'gd',
 'ben',
 'twx',
 'aapl',
 'bby',
 'utx',
 'ba',
 'kr',
 'luv',
 'esrx',
 'orcl',
 'adsk',
 'amat',
 'jnj',
 'nke',
 'afl',
 'schw',
 'dis',
 'rost',
 'ed',
 'mdt',
 'sbux',
 'dhr',
 'tjx']

## Find High Volume Companies
Based on the strategy I am following, it quickly became apparent that Volume of a stock is a very important variable 
in order to maximize gains. 

Finding high volume companies that also meet the above criteria is of the essence .

In [19]:
def available_dates(big_df):
    dates = big_df['Date']
    dates = dates.sort_values(ignore_index=True)
    return dates

def volume_stocks(cutoff):
    ''' Find companies with a mean volume over cutoff.'''
    
    # adjust path according to your system
    data_folder_path = r"...\Stock_Market_data\Stocks"
    files = os.listdir(data_folder_path) 
    cmps = []
    
    for c in files:
        path = os.path.join(data_folder_path, c)
        df = pd.read_csv(path)
        name = c.split('.')[0]
        df.insert(0, 'Stock', name)
        init_price = df.loc[0]['Open']
        # Mean volume of a company is calculated as a criterion
        mean_vol = df['Volume'].mean()
        if mean_vol > cutoff:
            cmps.append([name, mean_vol])

    return cmps

volume = volume_stocks(25000000)
print(len(volume))

19

In [20]:
# Sort by volume 
volume.sort(key= lambda x : x[1], reverse=True)
volume

[['aapl', 106641628.3860593],
 ['msft', 79458003.26218213],
 ['csco', 71469592.13670304],
 ['intc', 56466008.66528211],
 ['bac', 54419994.619245805],
 ['siri', 49223705.18525461],
 ['orcl', 44536613.045818865],
 ['ebay', 41298413.496260904],
 ['fb', 37707164.986241855],
 ['s', 36728107.33],
 ['dd', 34861021.0],
 ['mo', 32593646.064518802],
 ['t', 31099863.08975122],
 ['vale', 28418644.384879727],
 ['brk-b', 27890478.004062787],
 ['sogo', 27541219.5],
 ['snap', 26809068.38202247],
 ['pfe', 26292679.951669984],
 ['nok', 26279031.153389566]]

## Conclusions
Companies that fit our strategy are companies with low initial price, less than 0.5 dollars, 
with big growth potential and huge volumes for effective intraday trading.

Some great candidates (in no particular order) include :

- AAPL
- MSFT 
- INTC

#### Random visual checks on dataframes, to provide quick insights

In [43]:
# adjust path according to your system
data_folder_path = r"...\Stock_Market_data\Stocks"
c = 'msft.us.txt'
path = os.path.join(data_folder_path, c)
df = pd.read_csv(path)
df

            Date      Open      High       Low     Close      Volume  OpenInt
0     1986-03-13   0.06720   0.07533   0.06720   0.07533  1371330506        0
1     1986-03-14   0.07533   0.07533   0.07533   0.07533   409569463        0
2     1986-03-17   0.07533   0.07533   0.07533   0.07533   176995245        0
3     1986-03-18   0.07533   0.07533   0.07533   0.07533    90067008        0
4     1986-03-19   0.07533   0.07533   0.07533   0.07533    63655515        0
...          ...       ...       ...       ...       ...         ...      ...
7978  2017-11-06  84.20000  84.70000  84.08250  84.47000    19852151        0
7979  2017-11-07  84.77000  84.90000  83.93000  84.26000    17927878        0
7980  2017-11-08  84.14000  84.61000  83.83000  84.56000    18029584        0
7981  2017-11-09  84.11000  84.27000  82.90000  84.09000    21175384        0
7982  2017-11-10  83.79000  84.09500  83.23000  83.87000    19396301        0

[7983 rows x 7 columns]

In [39]:
# adjust path according to your system
data_folder_path = r"...\Stock_Market_data\Stocks"
c = 'fb.us.txt'
path = os.path.join(data_folder_path, c)
df = pd.read_csv(path)
df

            Date    Open     High      Low   Close     Volume  OpenInt
0     2012-05-18   42.05   45.000   38.000   38.23  580438450        0
1     2012-05-21   36.53   36.660   33.000   34.03  169418988        0
2     2012-05-22   32.61   33.590   30.940   31.00  101876406        0
3     2012-05-23   31.37   32.500   31.360   32.00   73678512        0
4     2012-05-24   32.95   33.210   31.770   33.03   42560731        0
...          ...     ...      ...      ...     ...        ...      ...
1376  2017-11-06  178.56  180.450  178.310  180.17   13275578        0
1377  2017-11-07  180.50  180.748  179.403  180.25   12903836        0
1378  2017-11-08  179.79  180.350  179.110  179.56   10467606        0
1379  2017-11-09  178.31  179.400  177.090  179.30   12602188        0
1380  2017-11-10  178.35  179.100  177.960  178.46   11060355        0

[1381 rows x 7 columns]